
h1{
  font-family: 'Brush Script MT', cursive;
  font-size: 60px;
  line-height: 0px;
}

em{
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
  }


nav{
    background-color:rgb(50, 50, 50);
    padding:2mm;
    color: #c7d8fd;

}

a{
text-decoration: none;
color:white;
}

body{
    color:white;
    background-color:#2e3f64;
}
nav > a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 2mm;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}
 a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 2mm;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}

nav > center > a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 2mm;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}

center > a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 2mm;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}


nav > a:hover  {
    background-color: aliceblue;
    color: #2e3f64;
}
img {
    border: 4px solid rgb(0, 0, 0);
}
p{
text-align: center;
}

aside{
    padding-left:15px;
  
    padding-top:20px;
    padding-bottom: 60px;
    width: 97%;
    height: 10%;
    float: center;
    background-color: #2e3f64;
    text-align:left;
}

footer > center > aside{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 30px;
    width: 100%;
    float: right;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

div > p {
    text-align: left;
}



/* Some default styles to make each box visible. This targets all items with a class that starts with "box" */
[class^="box"] {
  color:white;
  font-size: 5px;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
}

/* Colors for each box */
.box1 { background:rgb(50, 50, 50);}
.box2 { background:rgb(50, 50, 50);}
.box3 { background:rgb(50, 50, 50);}
.box4 { background:rgb(50, 50, 50);}
.box5 { background:rgb(50, 50, 50);}
box6 { background:#2e3f64;}
box7 { background:#2e3f64;}


.flex-container {

  border:10px solid #2e3f64;
  width:70vw;
  height:110vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: auto ;
}

[class^="box"] {
    
}

.box1 {
  border:px solid; 
  margin-top: 3px;
  height: 45%;
  order:0;  
  width: 48.5%;
  font-size: 20px;

}
.box2 {
  margin-top: 3px;
  height: 45%;
  order:0;
  width:48.5%;
  font-size: 20px
}

.box3 {
  margin-top:4px;
  order:1;
  width:33%;
  font-size: 15px;
  height: 47%;
}

.box4 {
  margin-top:4px;
  order:1;
  width:29%;
  font-size: 15px;
  height: 47%;

}

.box5 {
  margin-top:4px;
  order:1;
  width:33%;
  font-size: 15px;
  height: 47%;


}
.box6 {
  order:2;
  width:33%;

}
.box7 {
  order:2;
  width:33%;

}