nav, article, a, body{
    font-family:"roboto", system-ui;
    font-weight:300;
    font-style:normal;
}

nav{
    background-color:rgb(46, 63, 100);
    padding:.004mm;
    color: #c7d8fd;
    font-size:x-large
}

a{
text-decoration: none;
color:white;
}

body{
    color:white;
    background-color: rgb(50, 50, 50);
}
nav > a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 0.01em;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}
a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 0.01em;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}

nav > a:hover  {
    background-color: aliceblue;
    color: #2e3f64;
}
img {
    border: px solid #c7d8fd;
}
p{
text-align: center;
}
