
h1{
  font-family: 'Brush Script MT', cursive;
  font-size: 60px;
  line-height: 0px;
}

aside > p {
    background-color: rgb(91, 91, 91) ;
    padding: 3mm;
}

em{
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
  }

nav, article, a, body{
    font-family:"roboto", system-ui;
    font-weight:300;
    font-style:normal;
}

nav{
    background-color:rgb(46, 63, 100);
    padding:2mm;
    color: #c7d8fd;
    font-size:xlarge
}

a{
text-decoration: none;
color:white;
}

body{
    color:white;
    background-color: rgb(50, 50, 50);
}
nav > a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 2mm;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}
 a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 2mm;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}

nav > center > a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 2mm;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}

center > a {
    background-color: rgb(225, 235, 255);
    display:inline-block;
    padding: 2mm;
    border-radius: 0.15em;
    color:black;
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}

nav > a:hover  {
    background-color: aliceblue;
    color: #2e3f64;
}
img {
    border: 4px solid #2e3f64;
}
p{
text-align: center;
}

aside{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 30px;
    width: 60%;
    margin-left: 15px;
    float: center;
    background-color: #2e3f64;
    text-align:left;
}

footer > center > aside{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 30px;
    width: 100%;
    float: right;
    background-color: #2e3f64;
}
